.result {
  background-color: grey;
  width: 45%;
  position: fixed;
  height: 5rem;
  align-content: flex-end;
}

p {
  margin-left: 30rem;
  font-size: 30px;
  bottom: 0;
}

.calculator {
  width: 100%;
}

.calc-row {
  height: 5rem;
}

.calc-row > button {
  width: 9rem;
  border: 1px solid lightgray;
}

.button-2 {
  width: 18rem !important;
}

.orange {
  background-color: rgb(255, 153, 0);
}
